@mixin onecol {
    margin: 0%;
    padding: 0%;
    grid-template-columns:1fr;
    grid-template-rows: 160px auto auto 50px ;
    grid-template-areas: 
        "barra"
        "contenidogral"
        "segundocontainer "
        "footer"
        ;
}
